{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container col-lg-6">
    <div class="row">
        <div class="col-lg-12 col-md-6 mt-3 mb-4">
            <h2 class="logo-font title-text text-center">Order Confirmation</h2>
            <h3 class="mt-4 text-center title-text">
                Your order has been processed. A confirmation email will be
                sent to <strong>{{order.email}}</strong> you.
            </h3>

            <h3 class="mt-5 text-center title-text">
                Your Order Number is {{order_number}}</h3>

            <div class="row">
                <div class="col-lg-12 col-lg-6 title-text text-center">
                    
                            <h4>Order details:</h4>
                            {% for item in order.order_detail.all %}
                            <div class="row">
                                <div class="col-lg-12 col-lg-6 title-text text-center">
                                    <div class="row">
                                        <div class="col-lg-12 col-lg-6">
                                            <p>
                                                Order Date: {{item.order.date}}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-lg-6">
                                            <p class="title-text text-center">
                                                Book Name: {{item.product.name}}

                                            </p>
                                        </div>
                                    </div>
                                    {% for image in images %}
                                {% if image.product.name == item.product.name %}

                                    
                                    <div class="row">
                                        
                                        <div class="col-lg-12">

                                            <img src="{{image.image_url}}" 
                                            class="img-fluid rounded-start">
                                            
                                        </div>
                                        
                                    </div>
                                    
                                {% endif %}
                                {% endfor %}

                                <div class="row mt-5">
                                    <div class="col-lg-12 col-lg-6">
                                        <p>
                                            <strong>

                                                Price: $ {{item.product.price}}
                                            </strong>

                                        </p>
                                    </div>
                                </div>

                                
                                
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            
            <div class="row">
                <div class="col-lg-12 col-lg-6 title-text text-center">
                    
                            <h4>
                                <strong>

                                    Delivery Information:
                                </strong>
                            </h4>
                            
                        
                    
                            <p>
                                Full Name: {{order.full_name}}

                            </p>
                        
                    
                    
                        
                            <p>
                                Email: {{order.email}}

                            </p>
                        
                    
                            <p>
                                Phone: {{order.phone_number}}

                            </p>
                        
                            <p>
                                Address line 1: {{order.address1}}

                            </p>
                        
                            <p>
                                Address line 2: {{order.address2}}

                            </p>
                            <p>
                                Postcode: {{order.postcode}}

                            </p>
                        
                                <p>
                                    Country: {{order.country}}
    
                                </p>
                            
                        
                </div>
            </div>
        </div>
    </div>

            <div class="row">
                <div class="col-lg-12 col-lg-6 title-text text-center">
                            <h4>
                                <strong>

                                    Billing Information:
                                </strong>
                            </h4>

                            <p>
                                Order Total: $ {{total}}
                                
                            </p>
                        
                            <p>
                                Delivery Cost: $ {{delivery}}

                            </p>
                        
                            <p>
                                Overall Total: $ {{overall_total}}

                            </p>
                        </div>
                    </div>
                
            {% if from_profile %}
            <div class="row">

                <div class="col-lg-4">
                    
            </div>
                <div class="col-lg-4 title-text">

                    
                    <a href="{% url 'customer' %}">
                        
                        <button class="bg-dark col-lg-12 mt-5 mb-5 center">
                            <p class="text-white">
                                <strong>

                                    
                                    Back to Profile
                                </strong>
                            </p>
                        </button>
                    </a>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
            
            {% else %}
            <div class="row">

                <div class="col-lg-4">
                    
            </div>
                <div class="col-lg-4 title-text">

                    
                    <a href="{% url 'book' %}">
                        
                        <button class="bg-dark col-lg-12 mt-5 mb-5 center">
                            <p class="text-white">
                                <strong>

                                    
                                    Keep Shopping
                                </strong>
                            </p>
                        </button>
                    </a>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

    {% endblock %}